
{% extends "base.html" %}

{% block title %}About us - Short Stories{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>✨ Hi! ✨</h2>

    <h3><p> I’m a Data Science and Computing student with a passion for artificial intelligence, and I’d love to welcome you to my little universe of children’s stories. 💫📚</p>
        
        <p> This project was born from the desire to encourage a love for reading, not only in young children but also in anyone learning to read or exploring English as a new language. 🌍📖</p>
        
        <p> I truly enjoy building this website with the goal of providing free learning opportunities for everyone. I will continue working to offer you the best support and make reading a space for enjoyment and growth.</p>
        
        </p>Welcome to this literary adventure!</p> ✨🚀📚</h3>
        
        </h2>
    
</body>
</html>
{% endblock %}