<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Web App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <h1>Short Stories for Kids</h1>
    </header>
    <!-- Button line -->
    <section class="button-line">
        <nav>
            <ul>
        <a href="{{ url_for('home') }}"><button>Home</button></a>
        <a href="{{ url_for('index') }}"><button>Story selection</button></a>
        <a href="{{ url_for('page1') }}"><button>Botón 1</button></a>
        <a href="{{ url_for('page2') }}"><button>Botón 2</button></a>
        <a href="{{ url_for('page3') }}"><button>About us</button></a>
        <a href="{{ url_for('page4') }}"><button>Login</button></a>
            </ul>
        </nav>
    </section>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Este contenido será reemplazado en las plantillas específicas -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 My Simple Web Page</p>
    </footer>
</body>
</html>
