{% extends "base.html" %}

{% block title %}index - Short Stories{% endblock %}

{% block content %}
    {% if session.user_name %}
  
        <h1>✨Welcome,   {{ session.user_name }}! ✨</h1>
        <p>We're happy to have you here at Reading Interactive.</p>
    {% else %}
        <h1>✨Welcome to a universe of infinite imagination.✨</h1>
        <p>Stories await you to discover new worlds and learn through play.</p>
    {% endif %}


    <!-- Coverflow Carousel -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for i in range(1, 19) %}
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='story_' ~ i ~ '.webp') }}" alt="Story {{ i }}">
      </div>
      {% endfor %}
    </div>
</div>  
    <div class="after-carousel">
        <h3>Start Your Reading Adventure</h3>
        <p>Choose a story, click on the Speak button, and practice your pronunciation while you play and learn.</p>
        <a href="{{ url_for('fairy_tales') }}" class="btn">Explore Stories</a>
    </div>
        

  {% endblock %}

  {% block scripts %}
    {{ super() }}
<script>
  const swiper = new Swiper(".mySwiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    loop: true,

    // 💡 Autoplay
    autoplay: {
      delay: 2500, // time between slides
      disableOnInteraction: false, 
    },

    // 💡 soft transition
    speed: 800, // animation duration

    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true,
    },
  });
</script>


{% endblock %}

