<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Web App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <h1>Short Stories for Kids</h1>
        <a href="{{ url_for('Signup') }}"><button class="signup-btn">Sign Up</button></a>
    </header>

    <!-- Main Content -->
    <main class="main-content">
        <section class="login-container">
            <button class="login-btn">User</button>
            <button class="login-btn">Password</button>

            <a href="{{ url_for('index') }}"><button>ENTER</button></a>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 My Simple Web Page</p>
    </footer>
</body>
</html>
