{% extends "base.html" %}

{% block title %}index - Short Stories{% endblock %}

{% block content %}

<section class="login-container">
    <form action="{{ url_for('login') }}" method="POST" id="login-form">
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="btn">Log In</button>
    </form>

    <p>
        By clicking "Log In", you agree to Reading Interactive's 
        <a href="{{ url_for('terms') }}">Terms of Service</a>, 
        <a href="{{ url_for('privacy') }}">Privacy Policy</a>, 
        and Cookie Policy.
    </p>

    <a href="{{ url_for('Signup') }}" class="create-account">CREATE AN ACCOUNT</a>
</section>
{% endblock %}
