<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Petter rabbit</h1>
    <a href="/"><button>Volver a la página principal</button></a>
    <h1>{{ cuento["titulo"] }}</h1>
            <div id="story">{{ cuento["contenido"] | safe }}</div>
            <button onclick="startSpeechRecognition()">Decir Palabra</button>
            <div id="result"></div>
        
            <script>
                const correctWords = {{ cuento["palabras"] | tojson }}; // Palabras correctas desde el backend
        
                function startSpeechRecognition() {
                    const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
                    recognition.lang = 'es-ES'; // Configura el idioma a español
                    recognition.start();
        
                    recognition.onresult = function (event) {
                        const spokenWord = event.results[0][0].transcript;
                        document.getElementById("result").innerHTML = "Palabra pronunciada: <strong>" + spokenWord + "</strong>";
                        fetch("/process_speech", {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ word: spokenWord, correct_words: correctWords })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.correct) {
                                alert("¡Correcto! La palabra es: " + spokenWord);
                            } else {
                                alert("Intenta de nuevo. La palabra correcta no es " + spokenWord);
                            }
                        });
                    };
        
                    recognition.onerror = function () {
                        alert("Error al reconocer la voz. Por favor, intenta nuevamente.");
                    };
                }
            </script>
            </section>
</body>
</html>