<!-- story_rabbit.html -->

{% extends "base.html" %}

{% block title %}{{ story.title }} - Short Stories{% endblock %}

{% block content %}

<h1>{{ story.title }}</h1>
<img src="{{ url_for('static', filename=story.image) }}" class="small-image">
<div id="story-content">
    {{ story.content | safe }}
</div>
<h2>Keywords:</h2>
<ul>
    {% for keyword in story.palabras %}
        <li>{{ keyword }}</li>
    {% endfor %}
</ul>
<h2>Palabra actual:</h2>
<p id="current-word">Cargando...</p>

<p id="recognized-word"></p>

<h2>Progress:</h2>
<p>Correct words pronunciated: <span id="correct-count">0</span></p>
<ul id="correct-words-list"></ul>
<div class="main-container ">
      
    <!-- Button to start speech recognition -->
    <button id="start-recognition" onclick="startSpeechRecognition()" style="font-size: 18px; padding: 10px 20px; width: 150px; height: 50px;">Speak</button>
        
</div>
{% endblock %}
