{% extends "base.html" %}

{% block title %}The Tale of Petter Rabbit - Short Stories{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ story.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ story["titulo"] }}</h1>
    <img src="{{ url_for('static', filename='peter_rabbit.jpg') }}" alt="peter_rabbit" class="small-image">
    <h1>{{ story.title }}</h1>

    <!-- Show the content with the highlighted keywords -->
    <div id="story-content">
        {{ story.content | safe }}
    </div>

    <h2>Keywords:</h2>
    <ul>
        {% for keyword in story.palabras %}
            <li>{{ keyword }}</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}


