{% extends "base.html" %}

{% block title %}The lion and the mouse - Short Stories{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story selection - The lion and the mouse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ story["titulo"] }}</h1>
    <img src="{{ url_for('static', filename='TLATM.webp') }}" alt="Peter Rabbit" class="small-image">
    

</body>
</html>
{% endblock %}