{% extends "base.html" %}

{% block title %}The brave little fox - Short Stories{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story selection - The brave little fox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ story["titulo"] }}</h1>
    <img src="{{ url_for('static', filename='the_brave_little_fox.webp') }}" alt="The brave little fox" class="small-image">
    <style>
        .highlight {
            background-color: red; 
            color: white; 
            font-weight: bold;
            padding: 2px 4px;
            border-radius: 3px;
        }
    </style> 
            
</body>
</html>
{% endblock %}